/* font-face */

@font-face{
    font-family:"Raleway" ;
    src:url('/fonts/static/Raleway-Medium.ttf');
    font-style: normal;
}

@font-face{
    font-family:"Lane" ;
    src:url('/fonts/LANENAR_.ttf');
    font-style: normal;
}


@font-face{
    font-family:"Raleway-Reg" ;
    src:url('/fonts/static/Raleway-Regular.ttf');
    font-style: normal;
}

@font-face{
    font-family:"Sans-Pro" ;
    src:url('/fonts/SansPro/SourceSansPro-Regular.otf');
    font-style: normal;
}

@font-face{
    font-family:"Sans-Pro-Light" ;
    src:url('/fonts/SansPro/SourceSansPro-Light.otf');
    font-style: normal;
}