/* import fonts */
@import url(/css/fonts.css);

/* css vars */
@import url(/css/partials/_variables.css);

html,
body {
    font-family: "Raleway";
    color: aliceblue;
}

body {
    padding-bottom: 50px;
}

.highlight {
    color: var(--maroon-x-11);
}

.highlight2 {
    color: var(--maximum-blue-green);
}

/* start nav */
nav {
    border-bottom: 1px solid var(--maximum-blue-green);
    height: 4rem;
    background-color: var(--raisin-black);
}

.navbar .navbar-brand {
    padding: .4rem 3rem 0 0;
    text-decoration: none;
}

.navbar {
    padding: 1rem 8rem 1rem 13rem;
    float: right;
}


.nav-item .nav-link {
    /* text-transform: uppercase; */
    padding: 1.5rem;
    font-size: 1.4rem;
}

#navbar-name {
    color: aliceblue;
}

#navbar-name .active {
    color: aliceblue;
    color: var(--maroon-x-11);
}

.navbar-nav .active {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav .nav-link {
    color: aliceblue;
}

.navbar-nav .nav-link:hover {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* end nav */

#particles-js {
    background-color: var(--raisin-black);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Start Banner Area */
#avatar-img {
    width: 20%;
    /* you can use % */
    height: auto;
    padding-bottom: 1rem;
    margin-right: 4%;
    z-index: 1;
}

.inline-icons a .fa-linkedin {
    text-decoration: none;
    color: inherit;
    padding-right: .5%;
}

.inline-icons a .fa-github {
    text-decoration: none;
    color: inherit;
}

#resume-btn {
    background-color: var(--raisin-black);
    color: var(--maximum-blue-green);
    border-color: aliceblue;
    font-size: x-large;
    transition-duration: 0.4s;
    margin-right: 2%;
    margin-left: -2%;
}

#resume-btn:hover {
    /* background: var(--maroon-x-11); */
    color: var(--maroon-x-11);
}

a:link {
    color: var(--maximum-blue-green);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--maroon-x-11)
}

#site-banner {
    padding-top: 12%;
    color: aliceblue;
    padding-bottom: 10%;
}


.site-main #site-banner h1 {
    font-size: 3rem;
}

/* End Banner Area */

.project-container {
    margin: 30px;
    padding-top: 5%;
}

.project-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-image {
    background: var(--raisin-black);
    position: relative;
    flex: 1;
    max-width: 500px;
    max-height: 313px;
    margin: 20px;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid aliceblue;
    border-radius: 8px;
}

.project-image img {
    max-width: 100%;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.project-image:hover {
    transform: scale(1.02);
}

.project-image:hover img.project-bg {
    opacity: .05;
}

.project-image .project-details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.project-image .project-details h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 50px;
    transition: 0.4s;
    transition-property: transform;
    opacity: 0;
}

.project-image .project-details h2 span {
    font-weight: 900;
}

.project-image:hover .project-details h2 {
    opacity: 1;
    transform: translateY(-30px);
}


.project-image .project-details p {
    margin: 20px 20px 0 20px;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.project-image:hover .project-details p {
    opacity: 1;
    transform: translateY(-40px);
}


.project-more {
    position: absolute;
    background: var(--silver-chalice);
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.project-image:hover .project-more {
    bottom: 0;
}

.project-more .project-read-more {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.project-more .project-read-more span {
    font-weight: 900;
}

.icon-wrapper {}

img.devicon {
    width: 1.6vw;
    height: 1.6vw;
}

/* @media only screen and (max-width: 1024px) {
    .project-image .project-details h2 {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 50px;
        transition: 0.4s;
        transition-property: transform;
        opacity: 0;
    }
    
    .project-image .project-details p {
        margin: 20px 10px 0 10px;
        font-size: 16px;
        text-align: center;
        opacity: 0;
        transition: 0.6s;
        transition-property: opacity, transform;
    }

    .project-more .project-read-more {
        font-size: 16px;
    }

    img.devicon{
        width: 26px;
        height: 26px;
    }
} */
/* 
@media only screen and (max-width: 900px) {
    .project-more{
        display: none;
    }
    .project-image .project-details h2 {
        word-wrap: break-word;
    }

    .project-image .project-details p {
        word-wrap: break-word;
    }

} */

/* Start Contact Form */
#contact-form {
    background-color: var(--raisin-black);
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    z-index: 2;
    border-radius: 10px;
}

/* End Contact Form */