/* import fonts */
@import url(/css/fonts.css);

/* css vars */
@import url(/css/partials/_variables.css);

/* Site-Wide */
html,
body {
    font-family: "Sans-Pro";
    color: aliceblue;
}

body {
    padding-bottom: 50px;
}

.highlight {
    color: var(--maroon-x-11);
}

.highlight2 {
    color: var(--maximum-blue-green);
}

/* start nav */
nav {
    border-bottom: 1px solid var(--maximum-blue-green);
    height: 4rem;
    background-color: var(--raisin-black);
}

.navbar .navbar-brand {
    padding: .4rem 3rem 0 0;
    text-decoration: none;
}

.navbar {
    /* padding: 1rem 8rem 1rem 13rem; */
    padding-left: 5%;
    padding-right: 10%;
    float: right;
}


.nav-item .nav-link {
    padding: 1.5em;
    font-size: 1.4em;
}

.nav-link:hover{
    transform: translateY(-1px);
}

#navbar-name {
    color: aliceblue;
}

.active {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--maximum-blue-green);
}

.navbar-nav .nav-link {
    color: aliceblue;
}

.navbar-nav .nav-link:hover {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Site Background */

#particles-js {
    background-color: var(--raisin-black);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Start Home Page */
#avatar-img {
    width: 20%;
    height: auto;
    padding-bottom: 1rem;
    margin-right: 4%;
    z-index: 1;
}

.inline-icons a .fa-linkedin {
    text-decoration: none;
    color: inherit;
    padding-right: .5%;
    color: var(--maximum-blue-green);
    text-decoration: none;
}

.inline-icons a .fa-github {
    text-decoration: none;
    color: inherit;
    color: var(--maximum-blue-green);
    text-decoration: none;
}

.inline-icons a :hover{
    text-decoration: none;
    color: var(--maroon-x-11)
}

#resume-btn {
    background-color: var(--raisin-black);
    color: var(--maximum-blue-green);
    border-color: aliceblue;
    font-size: x-large;
    transition-duration: 0.4s;
    margin-right: 2%;
    margin-left: -2%;
}

#resume-btn a {
    color: var(--maximum-blue-green);
    text-decoration: none;
}

#resume-btn :hover{
    color: var(--maroon-x-11);
}

i{
    transition: 0.2s;
}

i:hover{
    transform: translateY(-3px);
}

#resume-btn:hover {
    color: var(--maroon-x-11);
}

#site-banner {
    padding-top: 12%;
    color: aliceblue;
    padding-bottom: 10%;
}


.site-main #site-banner h1 {
    font-size: 3rem;
}

/* Start Project Page */

.project-container {
    margin: 30px;
    text-align: center;
}

#project-page-header{
    padding-top: 5%;
    font-size: 3rem;
}

.project-row {
    padding-top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-image {
    background: var(--raisin-black);
    position: relative;
    flex: 1;
    max-width: 500px;
    max-height: 313px;
    min-width: 420px;
    margin: 20px;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid aliceblue;
    border-radius: 8px;
}

.project-image img {
    max-width: 100%;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.project-image:hover {
    transform: scale(1.02);
}

.project-image:hover img.project-bg {
    opacity: .03;
}

.project-image .project-details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.project-details a {
    text-decoration: none;
}

.project-image .project-details h2 {
    color: aliceblue;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 50px;
    transition: 0.4s;
    transition-property: transform;
    opacity: 0;
}

.project-image .project-details h2 span {
    font-weight: 900;
    color: aliceblue;
}

.project-image:hover .project-details h2 {
    opacity: 1;
    transform: translateY(-30px);
}

.project-image .project-details p {
    font-family:"Sans-Pro-Light" ;
    margin: 20px 20px 0 20px;
    font-size: 1.15rem;
    text-align: left;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.project-image:hover .project-details p {
    opacity: 1;
    transform: translateY(-40px);
}


.project-more {
    position: absolute;
    background: var(--silver-chalice);
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.project-image:hover .project-more {
    bottom: 0;
}

.project-more .project-read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.project-more .project-read-more span {
    font-weight: 900;
}


img.devicon {
    width: 38px;
    height: 38px;
}

/* About Me */
.about-me{
    margin-top: 12%;
}

#about-me-header{
    text-align: left;
    padding-top: 10%;
    padding-bottom: 3%;
    font-size: 3rem;
}

.about-me-details{
    font-family:"Sans-Pro-Light" ;
    text-align: left;
    padding-bottom: 8%;
}

.about-me-details-text{
    font-size: 1.8rem;
    font-weight: 300;
}

.strong{
    font-size: 2.rem;
    font-weight: 600;
}

/* Start Contact Form */
#contact-form {
    background-color: var(--raisin-black);
    margin-top: 8%;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 5%;
    z-index: 2;
    border-radius: 10px;
    min-width: none;
    max-width: 50%;
}