/* import fonts */
@import url(./fonts.css);

/* css vars */
@import url(./partials/_variables.css);

html, body{
    font-family: "Raleway";
    background: var(--raisin-black);
    color: aliceblue;
}

.highlight{
    color: var(--maroon-x-11);
}

/* start nav */
nav
{
    border-bottom: 3px solid var(--maximum-blue-green);
    height: 4rem;
    background-color: var(--raisin-black);
}

.header_area .main-menu .navbar .navbar-brand{
    padding: .4rem 3rem 0 0;
    text-transform: uppercase;
}

.header_area .main-menu .navbar{
    padding: 1rem 8rem 1rem 13rem;
    float: right;
}


.header_area .main-menu .nav-item .nav-link{
    /* text-transform: uppercase; */
    padding: 1.5rem;
    font-size: 1.3rem;
}

#navbar-name{
    color: aliceblue;
    color: var(--maroon-x-11);
}
.header_area .main-menu .navbar-nav .active{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_area .main-menu .navbar-nav .nav-link{
    color: aliceblue;
}
.header_area .main-menu .navbar-nav .nav-link:hover{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* end nav */

/* start main */
.site-main{
    padding-top: 17%;
}
/* end main */

/* Start Banner Area */
.site-main .page-section #site-banner{
    
}

.btn#resume-btn{
    background: var(--raisin-black);
    color: var(--maroon-x-11);
    border-radius: 0;
    border-color: aliceblue;
}

/* .button#resume-btn */
.site-main .page-section#about-me{
    padding-top: 8rem;
    margin: 20%;
    margin-top: 10%;
}

.site-main #site-banner h1{
    font-size: 3rem;
}

/* End Banner Area */
