/* import fonts */
@import url(./fonts.css);

/* css vars */
@import url(./partials/_variables.css);

html, body{
    font-family: "Raleway";
    background: var(--raisin-black);
    color: aliceblue;
}

.highlight{
    color: var(--maroon-x-11);
}
.highlight2{
    color: var(--maximum-blue-green);
}

/* start nav */
nav
{
    border-bottom: 3px solid var(--maximum-blue-green);
    height: 4rem;
    background-color: var(--raisin-black);
}

.header_area .main-menu .navbar .navbar-brand{
    padding: .4rem 3rem 0 0;
    
}

.header_area .main-menu .navbar{
    padding: 1rem 8rem 1rem 13rem;
    float: right;
}


.header_area .main-menu .nav-item .nav-link{
    /* text-transform: uppercase; */
    padding: 1.5rem;
    font-size: 1.3rem;
}

#navbar-name{
    color: aliceblue;
    color: var(--maroon-x-11);
}
.header_area .main-menu .navbar-nav .active{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_area .main-menu .navbar-nav .nav-link{
    color: aliceblue;
}
.header_area .main-menu .navbar-nav .nav-link:hover{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* end nav */

.site-main{
    padding-top: 11%;
}

/* Start Banner Area */
#avatar-img{
    width: 20%; /* you can use % */
    height: auto;
}

#resume-btn{
    background: var(--raisin-black);
    color: var(--maximum-blue-green);
    border-color: aliceblue;
    font-size: x-large;
    transition-duration: 0.4s;
}

#resume-btn:hover{
    /* background: var(--maroon-x-11); */
    color: var(--maroon-x-11);
}

.site-main .page-section#about-me{
    padding-top: 8rem;
    margin: 20%;
    margin-top: 10%;
}

.site-main #site-banner h1{
    font-size: 3rem;
}

/* End Banner Area */

/* Start About Me */
#about-me .text-wrap{
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}
/* End About Me */